shimmy-button {
    display: inline-block;
    min-height: 25px;
    min-width: 25px;
    background: #000;
    color: #FFF;
    cursor: pointer;
}
shimmy {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 999;
}
shimmy-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
    background: #FFF;
    z-index: 1000;
    border-radius: 7px;
    border: 5px solid #D9D9D9;
    padding: 10px;
}
shimmy-close {
    position: absolute;
    right: -20px;
    top: -20px;
    height: 32px;
    width: 35px;
    display: block;
    border-radius: 20px;
    font-size: 45px;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

shimmy-close:hover,
shimmy-close:focus,
shimmy-close:active,
shimmy-close.active,
shimmy-close.disabled,
shimmy-close[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

shimmy-close:active,
shimmy-close.active {
  background-color: #942a25 \9;
}